body{ background-color: #D0E0C0; }

#main{ width: 960px;
       margin: 40px auto;
       padding: 40px 80px;
       border: #578a3d 1px solid;
       background-color: #ffffff; }

.photo{ float: left;
        margin-right: 30px; }

.nekotyan_picture:after{ content: "";
                         cear: both;
                         display: block; }

.explanation{ float:left; }

dt{clear: left;
   froat: left;
   font-weight: bold; }
